.instructions {		/* the instruction label at the top of a dialog */
	-fx-background-color: #DDDDFF;
	-fx-max-width: Infinity;
	-fx-border-color: gray;
	-fx-border-width: 0 0 1 0;
	-fx-padding: 10px;
	-fx-wrap-text: true;
	-fx-pref-width: 0;	/* prevents the label from growing to a single big line of text */
}

.bottom-buttons {	/* the row of buttons at the bottom of a scene */
	-fx-max-width: Infinity;
	-fx-border-color: gray;
	-fx-border-width: 1 0 0 0;
	-fx-padding: 10px;
	-fx-alignment: center-right;
	-fx-spacing: 5px;
}