/* common styles for all modules */
.root {
	-fx-base: #303030;
	-fx-background-color: #303030;
}

.bottom-buttons {	/* the row of buttons at the bottom of a scene */
	-fx-background-color: #202020;
	-fx-max-width: Infinity;
	-fx-border-color: gray;
	-fx-border-width: 1 0 0 0;
	-fx-padding: 15px;
	-fx-alignment: center-left;
	-fx-spacing: 5px;
	-fx-font-size: 15;
}

.bottom-buttons .button {
	-fx-text-fill: silver;
    -fx-background-color: #333333;
	-fx-background-radius: 5;
	-fx-border-color: transparent;
}

.bottom-buttons .button:hover {
	-fx-border-radius: 5;
	-fx-border-color: silver;
}

.bottom-buttons .button:focused {
	-fx-border-radius: 5;
	-fx-border-color: silver;
}

.bottom-buttons .label {
	-fx-padding: 0 15 0 0;
}
